{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/msg.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/studenthome.css' %}">

</head>
<body class=" pic" background="{% static 'images/bgadmin3.jpeg' %}">
<div class="navbar">
      <a href="{% url 'teacher_prof' %}">Update profile</a>
      <a href="{% url 'student_progress' %}">Student Progress</a>
       <a href="{% url 'change_password' %}">Change Password</a>

   <div class="dropdown">
    <button class="dropbtn">Topics<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
        <a href="{% url 'subject' %}">Subject</a>
        <a href="{% url 'chapter' %}">Chapter</a>
        <a href="{% url 'chapter_content' %}">Chapter Content</a>
    </div>
  </div>
  <a href="{% url 'Student_booked_details' %}">Student booked details</a>
  <a href="{% url 'teacher_messages' %}">Messages</a>
  <a href="{% url 'attendence' %}">Give Attendence</a>
  <div class="dropdown">
    <button class="dropbtn">Exams<i class="fa fa-caret-down"></i></button>
    <div class="dropdown-content">
              <a href="{% url 'scedule_test' %}">Scedule a test</a>
              <a href="{% url 'delete_scedule_test' %}">Delete Scedule Test</a>
              <a href="{% url 'results' %}">Results</a>
    </div>
  </div>

              <a href="{% url 'logout' %}">Logout</a>
    </div>
</div>
      <div>
    <h1>TEACHERS HOME</h1>
</div>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
</style>
<body class="w3-theme-l5">



<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1000px;margin-top:50px;margin-left:1px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white">
        <div class="w3-container">
         <h4 class="w3-center">My Profile</h4>
          {% for e in c %}
         <p class="w3-center"><img src="/media/{{e.Image}}"w3-circle" style="height:106px;width:106px" alt="Avatar"></p>
            <p style="color:black;">{{e.First_name}}</p>
           {% endfor %}
         <hr>
            <center>
         <v> Teacher</v><br><br>
         <v> India, Kerala</v>
            </center>
        </div>
      </div>

<div align="center" style="color:blue;">
        {% if messages %}
            {% for msg in messages %}
                    {{ msg }}
            {% endfor %}
        {% endif %}
</div>

</body>
</html>
